
body {
    background: #2d2d2d;
}

.title {
    margin-top: 15px;
    font-family: sans-serif;
    color: #e5e8e8;
    text-align: center;
}

.dir-button {
  display: inline-block;
  border-radius: 2px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

.dir-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dir-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.dir-button:hover span {
  padding-right: 13px;
}

.dir-button:hover span:after {
  opacity: 1;
  right: 0;
}
#repo-list {
    margin-top: 30px;
}

.repo-item {
    list-style: none;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.05);
    color: #e5e8e8;
    font-family: sans-serif;
    padding: 15px 20px;
    position: relative;
    max-width: 600px;
}

.repo-item.red {
    border-left: 10px solid #bf200f;
}
.repo-item.orange {
    border-left: 10px solid #f4511e;
}
.repo-item.green {
    border-left: 10px solid #690;
}
.repo-item.gray {
    border-left: 10px solid #9c9c9e;
}

.repo-item .header {
    font-size: 1.3em;
    margin: 10 px;
    position: absolute;
    display: inline-block
}

.repo-item a {
    color: white;
    text-decoration: none;
}
.repo-item .badge {
    padding: 2px 10px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 3px;
    top: -10px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-top: 45px;
    font-weight: bold;
    background: #9c9c9e;
}

.repo-item .badge.green {
    background: #690;
}
.repo-item .badge.orange {
    background: #f4511e;
}
.repo-item .badge.red {
    background: #bf200f;
}

.repo-item .badge.watch {
    background: #17179e;
}

.repo-item .badge.star {
    background: #d8a31e;
}

.repo-item p {
    font-size: 14;
}

.repo-item .link {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2.5em;
}